---
import Base from "../../layouts/Base.astro";

const projects = await Astro.glob("./*.md");
---

<Base title="Projects">
  <style>
    ul {
      max-width: 56rem;
      list-style: none;
    }

    li {
      border: 1px solid black;
      margin: 1rem;
      border-radius: 1rem;
      padding: 1rem;
    }

    .container {
      display: flex;
      justify-content: center;
    }
  </style>
  <div class="container">
    <ul>
      {
        projects.map((project) => (
          <li>
            <a href={project.url}>{project.frontmatter.title}</a>
            <p>{project.frontmatter.excerpt}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Base>
