---
import Base from "../../layouts/Base.astro";

const projects = await Astro.glob("./*.md");
---

<Base title="Projects">
  <h1>Projects</h1>
  <ul>
    {
      projects.map((project) => (
        <li>
          <a href={project.url}>{project.frontmatter.title}</a>
          <p>{project.frontmatter.excerpt}</p>
        </li>
      ))
    }
  </ul>
</Base>
