---
import Base from "../layouts/Base.astro";
---

<Base title="Craig Franklin: The Official Site">
  <style>
    p {
      text-align: center;
    }

    ul {
      list-style: none;
    }

    .container {
      display: flex;
      justify-content: center;
    }
  </style>
  <p>A site by and about Craig Franklin. Mostly coding and tech stuff.</p>
  <div class="container">
    <ul>
      <li>
        Github: <a href="https://github.com/cfranklin11">cfranklin11</a>
      </li>
      <li>
        Twitter: <a href="https://twitter.com/englishcraig">@englishcraig</a>
      </li>
    </ul>
  </div>
</Base>
