---
import Base from "../layouts/Base.astro";
---

<Base title="Craig Franklin: The Official Site">
  <style>
    p {
      text-align: center;
    }
  </style>
  <p>A site by and about Craig Franklin</p>
</Base>
