---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Craig Franklin</h1>
		<ul role="list">
			<li>
				<a href="/blog">Blog</a>
				<a href="/projects">Projects</a>
			</li>
		</ul>
	</main>
</Layout>
