---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Craig Franklin: My Site">
  <main>
    <h1>Craig Franklin</h1>
    <ul role="list">
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </main>
</Layout>
