---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <style>
    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      display: inline-block;
    }

    h1 {
      text-align: center;
    }
  </style>
  <body>
    <nav>
      <ul role="list">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>
